
body, h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6,.entry-meta-author,.comment-author.vcard,.widget li a,.prev-next-nav a,
blockquote, blockquote p,.trawell-header .site-title a,.wp-block-cover .wp-block-cover-image-text, .wp-block-cover .wp-block-cover-text,
.wp-block-cover h2,.wp-block-cover-image .wp-block-cover-image-text, .wp-block-cover-image .wp-block-cover-text, .wp-block-cover-image h2{
    font-family: "Palatino Linotype", Poppins, Helvetica, sans-serif !important;
}

blockquote, ol, p, pre, ul {
    margin-bottom: 0.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
.h1, .h2, h1, h2 {
    margin-top: 2rem;
}
.mks_col + h1, .mks_col + h2, .mks_col + h3, .mks_col + h4, .mks_col + h5, .mks_col + h6,
ol + h1, ol + h2, ol + h3, ol + h4, ol + h5, ol + h6,
p + h1, p + h2, p + h3, p + h4, p + h5, p + h6,
pre + h1, pre + h2, pre + h3, pre + h4, pre + h5, pre + h6,
table + h1, table + h2, table + h3, table + h4, table + h5, table + h6,
ul + h1, ul + h2, ul + h3, ul + h4, ul + h5, ul + h6 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

ul.pagination {
    display: flex;
    justify-content: center;
}

ul.pagination li.page-item {
    margin: 0 2px;
}
ul.pagination li.page-item.active,
ul.pagination li.page-item.disabled{
    border: 1px solid rgba(51,51,51,0.1);
    background: transparent;
    padding: 8px 20px;
    border-radius: 3px;
    height: 43px;
}

.trawell-cover .owl-nav .owl-prev i:before,
.trawell-cover .owl-nav .owl-next i:before{
    margin-top: 9px;
}

.trawell-hamburger {
    min-width: 65px;
}

.trawell-slot-r .trawell-actions li {
    display: inline-block;
}
.trawell-slot-c .trawell-slot-f li.trawell-actions-button.trawell-action-search {
    padding-top: 1.5rem;
}
form.trawell-search-form {
    margin: 0px 1rem;
}

.trawell-slot-from-center + .trawell-slot-r {
    position: static;
    right: 0;
}
.trawell-main .entry-content ul li {
    list-style-position: outside;
}
.trawell-main .entry-content img {
    max-width: 100%;
    max-height: 377px;
    object-fit: contain;
}
.trawell-has-sidebar .trawell-main {
    max-width: 100%;
}
.trawell-has-sidebar .trawell-sections {
    max-width: 80%;
}
.trawell-main .container {
    width: 100%
}
.trawell-header-indent #trawell-header .trawell-actions > li > span,
.trawell-header-indent .trawell-header-sticky .trawell-actions > li > span {
    padding: 0;
    margin-top: 50%;
}
.trawell-header .menu-main > li:hover > ul.ba-mien {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 540px;
}
.trawell-header-indent #trawell-header .site-title {
    margin-top: 0;
}
.trawell-footer {
    padding-top: 10px;
    padding-bottom: 0px;
    position:absolute;
    bottom:0;
    width:100%;
    padding: 60px;
}

.trawell-main {
    padding-bottom: 270px;
}

body {
    position: relative;
}

.google_adsense_left {
    width: 190px; 
    margin-right: 30px; 
    padding-right: 7px; 
    position: relative; 
    height: 620px
}

.google_adsense_right {
    width: 190px; 
    padding-left: 7px; 
    margin-left: 30px;
    position: relative; 
    height: 620px
}


@media (min-width: 1440px) {
    .trawell-has-sidebar .trawell-sections {
        max-width: 50%;
    }
}


@media (min-width: 1024px) {
    .trawell-header .site-title img {
        max-height: 80px;
        border-radius: 10%;
    }

    body .trawell-header-sticky .container {
        height: 100px;
    }

    .trawell-slot-r .trawell-actions li {
        display: none;
    }
    .trawell-entry {
        max-width: 50%;
    }
}

@media (max-width: 729px) {
    .google_adsense_right {
        display: none;
    }

    .google_adsense_left {
        display: none;
    }

    .trawell-pagination a {
        height: 43px;
        line-height: 27px;
        font-size: 1.3rem;
    }
    .trawell-main {
        padding-bottom: 650px;
    }
}


@media (max-width: 413px) {
    .trawell-slot-from-center > .trawell-slot-f:first-of-type {
        display: block;
    }
}

@media (max-width: 500px) {

    .trawell-main .entry-content ul li {
        list-style-position: inside;
    }
}

